/* RESET */
    header {
            background: #333;
            color: #09ee09;
            padding: 0.5rem 0; 
            text-align: left;
            display: flex;
            justify-content: space-between; 
            align-items: center; 
            padding-left: 10px; 
            padding-right: 10px;
       
        }

        header h1 {
            margin: auto;
            color: #09ee09;
            word-spacing: 1em;
        }

 
        header nav ul {
            list-style:lower-roman;
            padding: 0;
            margin: 0; 
            text-align:justify;
            
        }

        header nav ul li {
            display:flex;
            margin: 0 15px;
        }

        header nav ul li a {
            color: #faf8f8;
            text-decoration: none;
            padding: 5px 10px; 
            border-radius: 5px; 
            transition: background 0.3s, color 0.3s;
        }

        header nav ul li a:hover {
            background: yellow;
            color: #32CD32;
        }
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
body {
font-family: 'Times New Roman', Times, Verdana, Tahoma, sans-serif;
background: #918d8d;
color: #222;
line-height: 1.6;
}

/* GENERAL SECTIONS */
.section {
width: 90%;
max-width: 900px;
margin: 40px auto;
padding: 20px;
background: white;
border-radius: 10px;
box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.section h2 {
margin-bottom: 15px;
color: #1e293b;
}
/* SKILLS */
.skills-list {
list-style: none;
display: grid;
grid-template-columns: 1fr 1fr;
gap: 10px;
background-color: #32CD32;
}
.skills-list li {
background: #e2e8f0;
padding: 10px;
border-radius: 5px;
text-align: center;
}
/* PROJECTS */
.projects-grid {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 20px;
}
.project-card {
background: #e2e8f0;
padding: 15px;
border-radius: 8px;
}
.project-card h3 {
margin-bottom: 10px;
color: #1e293b;
}
/* SERVICES */
.services-list {
list-style: none;
}
.services-list li {
padding: 8px 0;
border-bottom: 1px solid #ddd;
}
 .back-link {
            text-align: center;
            margin-top: 2rem;
        }

        .back-link a {
            color: #3c08f8;
            text-decoration: none;
            font-weight: bold;
            font-size: 1.1em;
        }

        .back-link a:hover {
            text-decoration: underline;
        }

/* FOOTER */
footer {
text-align: center;
padding: 20px;
background: #1e293b;
color: white;
margin-top: 40px;
}

